*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    background-image: url('images/getty.jpg');
    padding-top: 20rem;
    padding-bottom: 10rem;
}
.f{
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 576px) {
    /* For mobile phones: */
    .image {
      width: 100%;
      height: auto;
    }
} 
@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    .image {
      width: 100%;
      height: auto;
    }
} 
 